@font-face {
    font-family: Bitwise;
    src: url(../font/Bitwise-m19x.ttf) format("truetype");
}

* {
    margin: 0 auto;
}

body {
    background-color: #393939;
}

header {
    color: #51c7d6;
    margin: 50px 0;
    text-align: center;
}

hr {
    border: 1px solid #cc6992;
    text-align: center;
    width: 60%;
    margin-bottom: 40px;
}

section {
    padding: 20px 20px;
    font-family: Bitwise;
    margin-left: 50px;
}

section h3 {
    font-size: 20px;
    color: #cc6992;
    border-bottom: 1px solid #cc6992;
    display: inline-block;
    padding: 16px 60px;
}

section p {
    font-size: 16px;
    line-height: 1.5;
    padding: 20px 0 20px 10px;
    color: #51c7d6;
    border-left: 1px solid #cc6992;
}

section p span {
    color: #cc6992;
}

section a {
    text-decoration: none;
    color: #8a81b4;
    transition: all 700ms;
}

section a:hover {
    color: #51c7d6;
    border-bottom: 1px solid #51c7d6;
}